.root{
    -fx-background: #212121;
}
.button{
    -fx-text-fill: white;
    -fx-background-color: #D50000;

}
.button:hover{
    -fx-background-color: #B71C1C;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,1,1 );
}
.label{
    -fx-text-fill: white;
}
.menu-button{
    -fx-text-fill: white;
    -fx-background-color: #D50000;
}
.menu-button:hover{
    -fx-background-color: #B71C1C;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,1,1 );

}
.menu-item{
    -fx-text-fill: white;
    -fx-background-color: #D50000;
}
.menu-item:hover{
    -fx-background-color: #B71C1C;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,1,1 );

}
.accordion{

    -fx-background: #212121;
}
.titled-pane{
    -fx-text-fill: white;
}
.titled-pane > .title {
    -fx-background-color: #212121;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #D50000;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}



.welcome-text{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #B71C1C;

}
.red-bar {

    -fx-accent: #B71C1C;
}
.welcome-text-bigger{

    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: #B71C1C;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 0,0,1,1 );

}
.finish-text{
        -fx-font-size: 25;
        -fx-font-weight: bold;
        -fx-text-fill: white;
        -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 0,0,1,1 );

}